
<div class="cta">
  <h3>Find your next award flight!</h3>
  <p>With AwardFares you can explore award availability on different frequent flyer programs with just a few clicks.</p>
  <ul>
    <li>Search flights to find available award seats</li>
    <li>Setup alerts to monitor award availability</li>
    <li>Lookup seat maps and flight schedules</li>
  </ul>
  {% assign utm_source = page.id %}
    {% if utm_source == nil %}
    {% assign utm_source = 'home' %}
  {% else %}
    {% assign size = utm_source | size %}
    {% assign utm_source = utm_source | slice: 1,size %}
  {% endif %}
  <a class="button plausible-event-name=Get+Started+Free" href="https://awardfares.com/signup?utm_medium=blog&utm_source={{ utm_source }}&utm_content=cta" target="_blank">Get Started Free</a>
</div>
