.cc-window {
  font-family: Barlow, Raleway, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  border-top: solid 1px #ddd;
}
  
.cc-window.cc-banner {
  padding: 0.8em;
}
