.cc-window {
  font-family: Barlow,
    Raleway,
    HelveticaNeue,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 15px;
  border-top: solid 1px #ddd;
}
  
.cc-window.cc-banner {
  padding: 0.8em;
}
