
.posts {
  margin-top: 40px;

  .post-teaser {
    padding: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;

    h1 {
      margin: 0;
      font-size: 34px;
      letter-spacing: -0.022em;
      line-height: 1.12;
    }

    .meta {
      margin: 5px 0 20px 0;
      font-size: 0.9em;
    }

    .tag {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
    }

    a.button {
      font-size: 0.9em;
    }

    a.button:hover {
      text-decoration: underline;
    }

    img {
      object-fit: cover;
      width: 100%;
      max-height: 250px;
      object-position: 50% 25%;
    }

    p {
      margin-top: 10px;
    }

  }
}

@media screen and (max-width: 500px) {
  .posts {
    margin-top: 10px;

    .post-teaser {
      padding: 30px;
    }
  }
}
