
.posts {
  margin-top: 20px;

  .post-teaser {
    padding: 40px 0 60px 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;

    h1 {
      margin: 0;
      font-size: 1.8em;
      letter-spacing: -0.5px;
    }

    .meta {
      margin: 5px 0 20px 0;
      opacity: 0.5;
      font-size: 0.9em;
    }

    .tag {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
    }

    a.button {
      color: $accent;
    }

    a.button:hover {
      text-decoration: underline;
    }

    img {
      object-fit: cover;
      width: 100%;
      max-height: 300px;
      object-position: 50% 25%;
      border: solid 1px #ddd;
      border-radius: 8px;
      //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    p {
      margin-top: 10px;
    }

  }
}

@media screen and (max-width: 500px) {
  .posts {
    margin-top: 0px;

    .post-teaser {
      padding: 30px 0;
      margin-bottom: 10px;
    }
  }
}
