
header {
  padding: 20px 30px;
  margin: 0 auto;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  font-family: 'Barlow';
  
  section {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brand {
    padding: 0px;
    
    img {
      max-height: 40px;
      display: block;
    }
  }

}

footer {
  margin-top: 50px;
  background: #f6f8fa;
  text-align: center;
  color: #a0a0a0;
  text-align: center;
  padding: 30px;
  
  .sm {
    font-size: 2em;

    .fa-facebook {
      color: #3b5998;
    }
    .fa-twitter {
      color: #1da1f2;
    }
    .fa-instagram {
      color: #e1306c;
    }
    .fa-rss {
      color: $theme;
    }
  }

  .text {
    margin: 10px 0 0 0;
    font-size: 0.8em;
  }

  a {
    text-decoration: none;
    padding: 0 10px;
    display: inline-block;
  }
}
