
header {
  padding: 20px 30px;
  margin: 0 auto;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  font-family: 'Barlow';

  section {
    max-width: 1080px;
    margin: 0 auto;
  }

  .item.brand {
    float: left;
    position: relative;
    top: -3px;
    
    i {
      margin-right: 1px;
      color: $theme;
    }

    a {
      padding: 0px;
      text-transform: none;
      font-size: 1.6em;
      font-weight: 400;
    }

    b {
      font-weight: 600;
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0px;
  }

  .menu {
    float: right;
    padding: 8px 0;
  }

}

footer {
  text-align: center;
  padding: 20px 30px;
  color: #888;
  font-size: 0.8em;

  a {
    text-decoration: none;
    padding: 0 10px;
    display: inline-block;
  }
}
