
.post {

  a {
    color: $accent;
  }

  .title {
    margin: 40px 0 -10px 0;
    
    a {
      color: inherit;
    }
    
    h1 {
      line-height: 1.2em;
    }

    .meta {
      opacity: 0.5;
      font-size: 0.9em;
    }

    .image {
      margin-top: 30px;
    }

  }

  table {
    display: block;
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  td, th {
    padding: 0;
  }

  table th {
    font-weight: 600;
  }

  table td,
  table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }

  table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }


  h1,h2,h3 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 40px;
  }

  h3 {
    margin-top: 30px;
  }

  p {
    margin-top: 40px;
  }

  center {
    margin-top: 40px;
  }

  p+p,
  p+center,
  center+p {
    margin-top: 30px;
  }

  p+p>img {
    margin-top: 10px;
  }
  
  h1+p,h2+p,h3+p,h4+p {
    margin-top: 5px;
  }

  h1+figure,h2+figure,h3+figure,h4+figure {
    margin-top: 10px;
  }

  h1+center,h2+center,h3+center,h4+center {
    margin-top: 10px;
  }

  a > img, img {
    object-fit: cover;
    width: 100%;
    border: solid 1px #eee;
    border-radius: 8px;
  }

  blockquote {
    font-style: italic;
  }

  img.noborder {
    border: none;
  }

  img.outline {
    border: solid 3px #eee;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  figure {
    margin: 0;
    font-size: 0;
    margin: 35px -5px -5px -5px;

    img {
      box-sizing: border-box;
      border: solid 5px white;      
    }

    img.half {
      width: 50%;
    }

  }

  ul, ol {
    margin-top: 30px;
  }

  li {
    margin-bottom: 15px;
  }

  pre {
    margin-top: 40px;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-break: break-all;
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.84);
  }

  code {
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
    font-size: 16px;
  }

}

.post.zh-tw {
  h1, h2, h3, h4 {
    font-weight: 400;
  }
  p {
    font-weight: 300;
  }
  strong {
    font-weight: 500;
  }
}


.cta {
  margin-top: 100px;
  background: $theme;
  color: white;
  border-radius: 6px;
  padding: 30px 10px;
  text-align: center;
  display: block;
  text-decoration: none;

  p {
    margin: 0;
  }

  .button {
    background: white;
    color: $theme;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 3px;
    margin-top: 15px;
  }
  
}

.cta:hover {
  color: white;
}
