
.post {

  .title {
    margin: 50px 0;

    h1 {
      margin: 0 0 20px 0;
      line-height: 1.2em;
    }

  }

  img.full {
    width: 100%
  }

  img.half {
    width: 49%;
    display: inline-block;
  }

  img.slim {
    width: 85%
  }

  ul, ol {
    margin-top: 20px;
  }

  li {
    margin-bottom: 20px;
  }

}
