
.post {
  font-size: 1.1em;

  .title {
    margin: 40px 0;

    h1 {
      line-height: 1.2em;
    }

    .meta {
      margin: 10px 0 30px 0;
      font-size: 0.8em;
    }

  }



  h1,h2,h3 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 40px;
  }

  h3 {
    margin-top: 30px;
  }

  p {
    margin-top: 40px;
    line-height: 1.75;
  }

  center {
    margin-top: 40px;
  }

  p+p,
  p+center,
  center+p {
    margin-top: 30px;
  }

  p+p>img {
    margin-top: 10px;
  }
  
  h1+p,h2+p,h3+p,h4+p {
    margin-top: 5px;
  }

  h1+figure,h2+figure,h3+figure,h4+figure {
    margin-top: 10px;
  }

  h1+center,h2+center,h3+center,h4+center {
    margin-top: 10px;
  }

  img {
    object-fit: cover;
    width: 100%;
    border: solid 1px #eee;
  }

  img.noborder {
    border: none;
  }

  img.outline {
    border: solid 3px #eee;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  figure {
    margin: 0;
    font-size: 0;
    margin: 35px -5px -5px -5px;

    img {
      box-sizing: border-box;
      border: solid 5px white;      
    }

    img.half {
      width: 50%;
    }

  }

  ul, ol {
    margin-top: 30px;
  }

  li {
    margin-bottom: 15px;
  }

  pre {
    margin-top: 40px;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-break: break-all;
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.84);
  }

  code {
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
    font-size: 16px;
  }

}


.cta {
  margin-top: 50px;
  border: solid 1px #eee;
  background: #eee;
  border-radius: 10px;
  padding: 30px 10px;
  text-align: center;
}


@media screen and (max-width: 500px) {
  .post {
    font-size: 1em;
  }
}
