
.post {

  .title {
    margin: 50px 0;

    h1 {
      margin: 0 0 10px 0;
    }

  }

  img.full {
    width: 100%
  }

  img.half {
    width: 45%
  }

  img.slim {
    width: 85%
  }

  ul, ol {
    margin-top: 20px;
  }

  li {
    margin-bottom: 20px;
  }

}
