$theme: #2e5c8a;

body, select, input, textarea {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: $theme;
}

img {
  max-width: 100%;
}

.clear {
  clear: both;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

.meta {
  text-transform: uppercase;
  color: #888;
  font-size: 0.9em;
  margin: 0 0 30px 0;
}

@import "nav";
@import "index";
@import "post";
@import "tags";
