$theme: #1d3863;
$light: #28baeb;
$accent: #26a8d8;

body, select, input, textarea {
  font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-size: 17px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

select, input, textarea {
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 16px;
  }
}

html {
  height: 100%;
  scroll-padding-top: 5.2em;
}

body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  line-height: 1.1;
  font-family: 'Barlow';
}

p {
  line-height: 1.6;
}

a {
  color: inherit;
  cursor: pointer;
}

button.primary,
a.primary {
  background: #2e5c8a;
  color: #fff;
  border-radius: 9999px;
  margin-left: 10px;
  transition: background .2s ease;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  display: block;
  padding: 7px 15px;
  font-weight: 600;
  border: none;

  &:hover {
    color: #fff;
    background: #254a6e
  }
}

a:hover {
  color: $accent;
}

img {
  max-width: 100%;
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  min-height: 100%;
}

.nav-back {
  a {
    text-decoration: none;
    color: $accent;
  }
}

@media screen and (max-width: 500px) {
  .wrap {
    padding: 20px;
  }
}

a.banner {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: block;
  background: $theme;
  color: white !important;
  margin-bottom: 30px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.date {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  opacity: 0.5;
}

@import "nav";
@import "index";
@import "post";
@import "tags";
@import "search";

.calculator {
  max-width: 300px;
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 20px;
}

.calculator label {
  display: block;
  font-style: italic;
  font-size: 0.9em;
}

.calculator input[type=number] {
  width: 100%;
  box-sizing: border-box;
}

[data-countdown] {
  text-align: center;
  background: #eee;
  padding: 20px 10px;
  border-radius: 10px;
  display: block;
  text-decoration: none;
}

[data-countdown] h3 {
  margin: 0 0 5px 0;
}

[data-countdown].black-friday {
  background: black;
  color: white;
}

.black-friday-banner {
  padding: 5px;
  background: black;
  color: white;
  text-align: center;
  font-size: 0.8em;
  display: none;
}

.sale-button {
  background-color: white;
  color: black;
  border: 2px solid black; /* Black border with 2px thickness */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
}

iframe.seatmap {
  width: 100%;
  margin-top: 15px;
  border: none;
}
