$theme: #1d3863;
$light: #28baeb;
$accent: #26a8d8;

body, select, input, textarea {
  font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-size: 20px;
  line-height: 1.5;
}

select, input, textarea {
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 18px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  line-height: 1.1;
  font-family: 'Barlow';
}

p {
  line-height: 1.7;
}

a {
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: $accent;
}

img {
  max-width: 100%;
}

.clear {
  clear: both;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  min-height: 600px;
}

.nav-back {
  margin-top: 30px;
  
  a {
    text-decoration: none;
    color: $accent;
  }
}

@media screen and (max-width: 500px) {
  .wrap {
    padding: 30px;
  }
}

.meta {
  color: rgba(0,0,0,0.8);
}

/*
.image {
  max-width: 100%;
  border: solid 1px #ddd;
  border-radius: 3px;
  padding: 5px;
}

.image img {
  width: 100%;
  display: block;
}

.image-wrap {
  max-height: 400px;
  overflow: hidden;
  background: $theme;
}
*/

.tag {
  text-transform: capitalize;
  margin-right: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

a.banner {
  border: solid 3px $theme;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: block;
}

@import "nav";
@import "index";
@import "post";
@import "tags";
