<!DOCTYPE html>
<html class="no-js {{page.layout}}-html"{% if page.lang %} lang="{{ page.lang }}" {% else %} lang="en" {% endif %}>
  {% include head.html %}
  <body>
    <header class="floating-header">
      <section>
        <a href="https://awardfares.com/" target="_blank" class="brand">
          <img src="/assets/img/logo.png" alt="AwardFares Logo" />
        </a>
        <div class="menu">
          <div class="spacer">
          </div>
          <div class="item">
            <a href="https://www.facebook.com/awardfares" target="_blank"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="item">
            <a href="https://www.instagram.com/awardfares" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
          <div class="item">
            <a class="primary" href="https://awardfares.com/signup?utm_source=blog&utm_medium=blog&utm_content=header" target="_blank">Try for free</a>
          </div>
        </div>
      </section>
    </header>
    <div class="wrap">
      {{ content }}
    </div>
    <footer class="site-footer">
      <div class="sm" id="sm">
        <a href="https://www.facebook.com/awardfares" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/awardfares" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/awardfares" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="{{ "/feed.xml" | relative_url }}" title="Follow RSS Feed">
          <i class="fa fa-fw fa-rss"></i>
        </a>
      </div>
      <p class="text">
        <a href="https://awardfares.com">&copy; {{ 'now' | date: "%Y" }} — AwardFares</a>
      </p>
    </footer>    
  </body>
</html>
