<!DOCTYPE html>
<html class="no-js">
  {% include head.html %}
  <body>
    <header>
      <section>
        <a href="https://awardfares.com/" target="_blank" class="brand">
          <img src="/assets/img/logo.png" alt="AwardFares Logo" />
        </a>
        <a href="{{ "/feed.xml" | relative_url }}" title="Follow RSS Feed">
          <i class="fa fa-fw fa-rss"></i>
        </a>
      </section>
    </header>
    <div class="wrap">
      {{ content }}
    </div>
    <footer class="site-footer">
      <div class="sm" id="sm">
        <a href="https://www.facebook.com/awardfares" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/awardfares" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/awardfares" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="{{ "/feed.xml" | relative_url }}" title="Follow RSS Feed">
          <i class="fa fa-fw fa-rss"></i>
        </a>
      </div>
      <p class="text">
        <a href="https://awardfares.com">&copy; {{ 'now' | date: "%Y" }} — AwardFares</a>
      </p>
    </footer>    
  </body>
</html>
