---
layout: default
---

<div class="post" {% if page.feature-img %}class="feature-image"{% endif %}>
  <div class="title" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <p class="meta">
      {% for tag in page.tags %}<a class="tag" href="/tags/#{{tag}}">{{tag}}</a> {% endfor %}{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} By {{ page.author }} {% endif %}
    </p>
    {% unless page.hide_image_in_post %}
    {% if page.image %}
    <div class="image">
      <div class="image-wrap">
        <img src="{{ page.image }}" />
      </div>
    </div>
    {% endif %}
    {% endunless %}
  </div>

  <section class="post-content">{{ content }}</section>
</div>

<!-- Disqus -->
{% if page.comments %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
