---
layout: default
---

<div class="nav-back">
  <a href="/"><i class="fa fa-long-arrow-left"></i> Blog</a>
</div>

<div class="search">

  <h1>Search</h1>
  <div class="search-box">
    <form action="/search/" method="get">
      <input type="text" autocomplete="off" spellcheck="false" maxlength="256" name="query" class="search-input" value="" />
      <button class="primary" type="submit">Search</button>
    </form>
  </div>

  <h2 id="search-title"></h2>
  <div id="search-results"></div>
  <p id="not-found" style="display: none">
    No search results...
  </p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js" integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/search.js"></script>
