---
layout: default
---

<div class="nav-back">
  <a href="/"><i class="fa fa-long-arrow-left"></i> Blog</a>
</div>

<div class="tags">
  <h1>Tags</h1>

  {% for tag in site.tags %}
    {% if tag[1].size > 0 %}
    <h2 id="{{ tag[0] }}">
      <a href="#{{ tag[0] }}">{{ tag[0] }}</a>
    </h2>
    {% for post in tag[1] %}
    {% unless post.hidden %}
    <div class="tag-item">
      <a href="{{ post.url }}">{{ post.title }}</a>
      <div class="date">{{ post.date | date: "%B %-d, %Y" }}</div>
    </div>
    {% endunless %}
    {% endfor %}
    {% endif %}
  {% endfor %}
</div>
